/*CLIP PATH*/

/*RECTANGULAR*/
.diamond{
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.parallelogram{
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.rev-paralleogram{
	clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
.trapezoid-up{
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.trapezoid-down{
	clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
}
.trapezoid-right{
	clip-path: polygon(100% 80%, 100% 20%, 0 0, 0 100%);
}
.trapezoid-left{
	clip-path: polygon(0 80%, 0 20%, 100% 0, 100% 100%);
}

/*POLYGON*/
.pentagon{
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.hexagon{
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.heptagon{
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.octagon{
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.nonagon{
	clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.decagon{
	clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

/*DIAGONAL*/
.diagonal-1{
	clip-path: polygon(10% 100%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 90% 0%, 0% 100%);
}
.diagonal-2{
	clip-path: polygon(10% 100%, 100% 100%, 100% 0%, 60% 100%, 50% 100%, 90% 0%, 0% 0%, 0% 100%, 40% 0%, 50% 0%);
}

.diagonal-3{
	clip-path: polygon(23% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 80% 100%, 73% 100%, 93% 0%, 67% 0%, 39% 100%, 32% 100%, 60% 0%, 29% 0%, 7% 100%, 0% 100%);
}


/*x*/
.x-in{/*                                                    1                   2                 3              4*/
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 55%, 100% 100%, 55% 50%, 100% 0%, 50% 45%, 0% 0%, 45% 50%, 0% 100%);
}

.x-out{
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.thick-x-out{
	clip-path: polygon(100% 40%, 90% 50%, 100% 60%, 60% 100%, 50% 90%, 40% 100%, 0% 60%, 10% 50%, 0% 40%, 40% 0%, 50% 10%, 60% 0%);
}

/*ARROW*/
.arrow-up{
	clip-path: polygon(30% 40%, 0% 40%, 50% 0%, 100% 40%, 70% 40%, 70% 100%, 30% 100%);
}

.arrow-left{
	clip-path: polygon(40% 70%, 40% 100%, 0% 50%, 40% 0%, 40% 30%, 100% 30%, 100% 70%);
}
.arrow-down{
	clip-path: polygon(70% 60%, 100% 60%, 50% 100%, 0% 60%, 30% 60%, 30% 0%, 70% 0%);
}
.arrow-right{
	clip-path: polygon(60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%, 0% 30%);
}


/*plus*/
.plus{
	clip-path: polygon(0 40%, 40% 40%, 40% 0%, 60% 0%, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%);
}
.thick-plus{
	clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

/*slash*/
.slash-1{
	clip-path: polygon(80% 100%, 100% 80%, 100% 90%, 90% 100%, 100% 100%, 100% 0%, 55% 0%, 0% 0%, 0% 100%);
}
.slash-2{
	clip-path: polygon(70% 100%, 100% 70%, 100% 80%, 80% 100%, 100% 100%, 100% 0%, 55% 0%, 0% 0%, 0% 100%);
}
.slash-3{
	clip-path: polygon(60% 100%, 100% 60%, 100% 70%, 70% 100%, 100% 100%, 100% 0%, 55% 0%, 0% 0%, 0% 100%);
}
.rev-slash-1{
	clip-path: polygon(0% 10%, 0% 20%, 20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 10% 0%);
}
.rev-slash-2{
	clip-path: polygon(0% 20%, 0% 30%, 30% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 20% 0%);
}
.rev-slash-3{
	clip-path: polygon(0% 30%, 0% 40%, 40% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 30% 0%);
}


/*other shape*/
.pine{
	clip-path: polygon(70% 66%, 90% 66%, 70% 33%, 80% 33%, 50% 0%, 20% 33%, 30% 33%, 10% 66%, 30% 66%, 10% 100%, 90% 100%);
}
.puzzle{
	clip-path: polygon(0% 89%, 0% 100%, 100% 100%, 100% 0%, 89% 0%, 89% 100%, 78% 100%, 78% 0%, 67% 0%, 67% 100%, 57% 100%, 57% 0%, 45% 0%, 45% 100%, 34% 100%, 34% 0%, 23% 0%, 23% 100%, 12% 100%, 12% 0%, 0% 0%, 0% 11%, 100% 11%, 100% 22%, 0% 22%, 0% 33%, 100% 33%, 100% 44%, 0% 44%, 0% 56%, 100% 56%, 100% 67%, 0% 67%, 0% 78%, 100% 78%, 100% 89%);
}
.pointer{
	clip-path: polygon(0 0, 41% 100%, 56% 64%, 95% 100%, 100% 93%, 63% 57%, 100% 37%);
}
.hamburger{
	clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0, 100% 20%, 0 20%, 0 41%, 100% 41%, 100% 60%, 0 60%, 0 81%, 100% 81%);
}
.cat{
	clip-path: polygon(100% 0%, 70% 15%, 30% 15%, 0% 0%, 0% 25%, 10% 45%, 10% 75%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 90% 75%, 90% 45%, 100% 25%);
}
.mail{
	clip-path: polygon(100% 0%, 70% 60%, 30% 60%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 0%, 70% 65%, 30% 65%, 0% 0%);
}

	/*TAKEN*/
.message{
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.koala{
	clip-path: polygon(85% 6%, 70% 15%, 30% 15%, 15% 5%, 0% 25%, 10% 45%, 10% 75%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 90% 75%, 90% 45%, 100% 25%);
}
.star{
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.home{
	clip-path: polygon(50% 11%, 66% 24%, 66% 16%, 80% 16%, 80% 36%, 98% 51%, 83% 51%, 83% 90%, 59% 90%, 59% 68%, 41% 68%, 41% 90%, 17% 90%, 17% 51%, 3% 51%);
}
.window{
	clip-path: polygon(10% 55%, 10% 10%, 45% 10%, 45% 45%, 10% 45%, 10% 55%, 10% 90%, 45% 90%, 45% 55%, 10% 55%, 55% 55%, 55% 90%, 90% 90%, 90% 55%, 55% 55%, 55% 45%, 90% 45%, 90% 10%, 55% 10%, 55% 55%);
}



/*SHAPE OUTSIDE*//*CLIP PATH*/

/*RECTANGULAR*/
.diamond-shaped{
	shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.parallelogram-shaped{
	shape-outside: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.rev-paralleogram-shaped{
	shape-outside: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
.trapezoid-up-shaped{
	shape-outside:  polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.trapezoid-down-shaped{
	shape-outside:  polygon(20% 100%, 80% 100%, 100% 0, 0 0);
}
.trapezoid-right-shaped{
	shape-outside: polygon(100% 80%, 100% 20%, 0 0, 0 100%);
}
.trapezoid-left-shaped{
	shape-outside: polygon(0 80%, 0 20%, 100% 0, 100% 100%);
}

/*POLYGON*/
.pentagon-shaped{
	shape-outside: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.hexagon-shaped{
	shape-outside: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.heptagon-shaped{
	shape-outside: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.octagon-shaped{
	shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.nonagon-shaped{
	shape-outside: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.decagon-shaped{
	shape-outside: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

/*DIAGONAL*/
.diagonal-1-shaped{
	shape-outside: polygon(10% 100%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 90% 0%, 0% 100%);
}
.diagonal-2-shaped{
	shape-outside: polygon(10% 100%, 100% 100%, 100% 0%, 60% 100%, 50% 100%, 90% 0%, 0% 0%, 0% 100%, 40% 0%, 50% 0%);
}

.diagonal-3-shaped{
	shape-outside: polygon(23% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 80% 100%, 73% 100%, 93% 0%, 67% 0%, 39% 100%, 32% 100%, 60% 0%, 29% 0%, 7% 100%, 0% 100%);
}


/*x*/
.x-in-shaped{/*                                                    1                   2                 3              4*/
	shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50% 55%, 100% 100%, 55% 50%, 100% 0%, 50% 45%, 0% 0%, 45% 50%, 0% 100%);
}

.x-out-shaped{
	shape-outside: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.thick-x-out-shaped{
	shape-outside: polygon(100% 40%, 90% 50%, 100% 60%, 60% 100%, 50% 90%, 40% 100%, 0% 60%, 10% 50%, 0% 40%, 40% 0%, 50% 10%, 60% 0%);
}

/*ARROW*/
.arrow-up-shaped{
	shape-outside: polygon(30% 40%, 0% 40%, 50% 0%, 100% 40%, 70% 40%, 70% 100%, 30% 100%);
}

.arrow-left-shaped{
	shape-outside: polygon(40% 70%, 40% 100%, 0% 50%, 40% 0%, 40% 30%, 100% 30%, 100% 70%);
}
.arrow-down-shaped{
	shape-outside: polygon(70% 60%, 100% 60%, 50% 100%, 0% 60%, 30% 60%, 30% 0%, 70% 0%);
}
.arrow-right-shaped{
	shape-outside: polygon(60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%, 0% 30%);
}


/*plus*/
.plus-shaped{
	shape-outside: polygon(0 40%, 40% 40%, 40% 0%, 60% 0%, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%);
}
.thick-plus-shaped{
	shape-outside: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

/*slash*/
.slash-1-shaped{
	shape-outside: polygon(80% 100%, 100% 80%, 100% 90%, 90% 100%, 100% 100%, 100% 0%, 55% 0%, 0% 0%, 0% 100%);
}
.slash-2-shaped{
	shape-outside: polygon(70% 100%, 100% 70%, 100% 80%, 80% 100%, 100% 100%, 100% 0%, 55% 0%, 0% 0%, 0% 100%);
}
.slash-3-shaped{
	shape-outside: polygon(60% 100%, 100% 60%, 100% 70%, 70% 100%, 100% 100%, 100% 0%, 55% 0%, 0% 0%, 0% 100%);
}
.rev-slash-1-shaped{
	shape-outside: polygon(0% 10%, 0% 20%, 20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 10% 0%);
}
.rev-slash-2-shaped{
	shape-outside: polygon(0% 20%, 0% 30%, 30% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 20% 0%);
}
.rev-slash-3-shaped{
	shape-outside: polygon(0% 30%, 0% 40%, 40% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 30% 0%);
}


/*other shape*/
.pine-shaped{
	shape-outside: polygon(70% 66%, 90% 66%, 70% 33%, 80% 33%, 50% 0%, 20% 33%, 30% 33%, 10% 66%, 30% 66%, 10% 100%, 90% 100%);
}
.puzzle-shaped{
	shape-outside: polygon(0% 89%, 0% 100%, 100% 100%, 100% 0%, 89% 0%, 89% 100%, 78% 100%, 78% 0%, 67% 0%, 67% 100%, 57% 100%, 57% 0%, 45% 0%, 45% 100%, 34% 100%, 34% 0%, 23% 0%, 23% 100%, 12% 100%, 12% 0%, 0% 0%, 0% 11%, 100% 11%, 100% 22%, 0% 22%, 0% 33%, 100% 33%, 100% 44%, 0% 44%, 0% 56%, 100% 56%, 100% 67%, 0% 67%, 0% 78%, 100% 78%, 100% 89%);
}
.pointer-shaped{
	shape-outside: polygon(0 0, 41% 100%, 56% 64%, 95% 100%, 100% 93%, 63% 57%, 100% 37%);
}
.hamburger-shaped{
	shape-outside: polygon(100% 100%, 0 100%, 0 0, 100% 0, 100% 20%, 0 20%, 0 41%, 100% 41%, 100% 60%, 0 60%, 0 81%, 100% 81%);
}
.cat-shaped{
	shape-outside: polygon(100% 0%, 70% 15%, 30% 15%, 0% 0%, 0% 25%, 10% 45%, 10% 75%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 90% 75%, 90% 45%, 100% 25%);
}
.mail-shaped{
	shape-outside: polygon(100% 0%, 70% 60%, 30% 60%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 0%, 70% 65%, 30% 65%, 0% 0%);
}

	/*TAKEN*/
.message-shaped{
	shape-outside: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.koala-shaped{
	shape-outside: polygon(85% 6%, 70% 15%, 30% 15%, 15% 5%, 0% 25%, 10% 45%, 10% 75%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 90% 75%, 90% 45%, 100% 25%);
}
.star-shaped{
	shape-outside: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.home-shaped{
	shape-outside: polygon(50% 11%, 66% 24%, 66% 16%, 80% 16%, 80% 36%, 98% 51%, 83% 51%, 83% 90%, 59% 90%, 59% 68%, 41% 68%, 41% 90%, 17% 90%, 17% 51%, 3% 51%);
}
.window-shaped{
	shape-outside: polygon(10% 55%, 10% 10%, 45% 10%, 45% 45%, 10% 45%, 10% 55%, 10% 90%, 45% 90%, 45% 55%, 10% 55%, 55% 55%, 55% 90%, 90% 90%, 90% 55%, 55% 55%, 55% 45%, 90% 45%, 90% 10%, 55% 10%, 55% 55%);
}